.newsletter_subscription_messages
*{display:none}.newsletter_subscription_message_initial{display:block}.newsletter_subscription_ajax{display:none}
/* end of /whb/wp-content/themes/envision-parent/framework/extensions/newsletter/static/css/newsletter_clientside.css */
