.header_img {
	background:url("violet/slider1_bg_img3.jpg") center top no-repeat #3c0a2d}


.col a {
	color:#753573}

/*
.topmenu li.parent:hover ul li.parent:hover ul li a,
.topmenu li.parent:hover ul li.parent ul li a {
	color:#753573;}*/

.bar-title h1 span, .bar-title .title span {
	color:#753573}

.link-more,
.gl_col_2 .gallery-more a,
.gl_col_3 .gallery-more a,
.gl_col_4 .gallery-more a{
	color:#753573;
	background:url(violet/ico_plus.png) left center no-repeat;}

.breadcrumbs a {
	color:#753573;}

.sidebar a {
	color:#753573}

.homepage .col_1_3 h2 {
	color:#753573;}

.text a {
	color:#753573}

.col .title_violet {
	color:#753573}

.container_12 blockquote {
	color:#753573;}

.tabcontent h3 {
	color:#753573;}

.quote-text {
	color:#753573;}

.table_head_price strong {
	color:#753573;}

.gallery-item a {
	color:#753573}

.pagination a {
	color:#753573;}

.footer a {
	color: #6C727B;}

.social-box .row a{
	color: #753573;}