/* states and images */
.ui-state-default .ui-icon { background-image: url(ui-lightness/images/ui-icons_acacac_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(ui-lightness/images/ui-icons_acacac_256x240.png); }
.ui-state-active .ui-icon {background-image: url(ui-lightness/images/ui-icons_acacac_256x240.png); }

/* Customed styles */
.ui-widget-content { border: 1px solid #dad7d4; background: #edecec url(ui-lightness/images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #595959;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #dad7d4; background: #fff url(ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x; font-weight:normal; color: #5e2f7f !important;}

.ui-state-default:hover { border: 1px solid #dad7d4}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #5e2f7f; text-decoration: none;}

.ui-state-default .ui-selectmenu-status span {border:1px solid #d9d9d9;}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border:1px solid #d9d9d9; border-bottom: 1px solid #dad7d4; background:url(ui-lightness/images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; font-weight:normal; color: #5e2f7f; background:#fff }

.ui-state-hover a, .ui-state-hover a:hover { color: #5e2f7f; text-decoration: none; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight:normal; color: #5e2f7f; }

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #dc7512; text-decoration: none;}

.ui-widget { font-family: Arial, Helvetica, sans-serif; font-size: 13px; }
.ui-widget .ui-widget { font-size: 13px; }
.ui-widget-content a { color: #595959; font-weight:normal;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Arial, Helvetica, sans-serif; font-size: 13px; }
.ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url(ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: normal; }

/* Selectmenu
----------------------------------*/
.ui-selectmenu { display: block; position:relative; height:32px; text-decoration: none; overflow:hidden;}
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto; }
.ui-selectmenu-open { visibility: visible; background:#fff}
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu-dropdown {z-index: 1000;}
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-bottom: 1px solid #dad7d4;  border-top: 0px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status {line-height: 1.7em; display:block; padding:.5em 10px; outline:none; text-decoration:none;}
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-menu-dropdown li a:hover, .ui-selectmenu-menu-dropdown .ui-state-hover { }
.ui-selectmenu-open li.ui-selectmenu-item-focus a {}
.ui-selectmenu-open li.ui-selectmenu-item-selected { }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: normal; }
.ui-selectmenu-menu li .ui-selectmenu-item-content {  }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .9; }
/*for optgroups*/
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding:.6em .5em 0; font-weight: normal; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }

